altair==5.5.0
attrs==24.2.0
blinker==1.6.2
cachetools==4.0.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==41.0.3
cycler==0.11.0
debugpy==1.8.9
decorator==5.1.1
flatbuffers==2.0.0
gast==0.4.0
grpcio==1.42.0
h5py==3.12.1
idna==3.7
ipykernel==6.29.5
ipython==8.18.1
joblib==1.4.2
jsonschema==4.23.0
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==2.6.0
Keras-Preprocessing
kiwisolver==1.4.4
Markdown==3.4.1
mkl-service==2.4.0
numexpr==2.8.4
numpy==1.23.5
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.2
pandas==1.5.3
pyarrow==18.1.0
pycparser==2.21
PyQt5==5.15.10
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.10.1
seaborn==0.13.2
streamlit==1.40.2
tenacity==9.0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==2.1.0
threadpoolctl==3.5.0
tornado==6.4.2
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.3
watchdog==6.0.0
Werkzeug==3.0.6
wheel==0.35.1